<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mapp.huawei">

    <meta-data
        android:name="com.huawei.hms.ml.DEPENDENCY"
        android:value="translate" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.image_related.scene_detection.SceneDetection"></activity>
        <activity android:name=".view.nlp.TextEmbedding" />
        <activity android:name=".view.language_related.SoundDetection" />
        <activity android:name=".view.text_related.GeneralCardRecog" />
        <activity android:name=".view.text_related.BankCardRecog" />
        <activity android:name=".view.text_related.DocumentRecognition" />
        <activity android:name=".view.image_related.ImageSegmentation" />
        <activity android:name=".view.image_related.FaceDetection" />
        <activity android:name=".object_detectionactivity.ObjectDetectionImage" />
        <activity android:name=".object_detectionactivity.ObjectDetectionCamera" />
        <activity android:name=".view.text_related.CapturePhotoActivity" />
        <activity android:name=".view.text_related.ReadPhotoActivity" />
        <activity android:name=".view.image_related.ObjectDetection" />
        <activity android:name=".view.language_related.Translate" />
        <activity android:name=".view.image_related.Landmark" />
        <activity android:name=".view.text_related.TextRelated" />
        <activity android:name=".view.StartPage">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    android:configChanges="orientation|screenSize" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>